{% extends 'base.html' %}
{% load static %}

{% block title %}Rodina{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}

    <div class="container film-list">
        {% for film_info in films_info %}
        <div class="row film">
            <div class="col s12"><h3 class="title">{{ film_info.title }}</h3></div>
            <div class="col s3 l2 poster">
                <img class="responsive-img" src="{{ film_info.poster }}">
            </div>
            <div class="col s9 l10">
                <h6 class="genre">{{ film_info.genres }}</h6>
                {% for room in film_info.rooms %}
                <div class="room">
                    <h5 class="name">{{ room.name }}</h5>
                    <table class="centered">
                        <tbody>
                            <tr class="time">
                                {% for time in room.times %}
                                    <td>{{ time }}</td>
                                {% endfor %}
                            </tr>
                            <tr class="price">
                                {% for price in room.prices %}
                                    <td>{{ price }}р.</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}



        <div class="row film">
            <div class="col s12"><h3 class="title">Название фильма</h3></div>
            <div class="col s3 l2 poster">
                <img class="responsive-img" src="ссылка на постер">
            </div>
            <div class="col s9 l10">
                <h6 class="genre">список жанров</h6>
                {{ Блок кинозала, может быть повоторен несколько раз }}
                <div class="room">
                    <h5 class="name">Название зала</h5>
                    <table class="centered">
                        <tbody>
                            <tr class="time"></tr>
                                <td>Время сеанса1</td>
                                <td>Время сеанса2</td>
                            </tr>
                            <tr class="price">
                                <td>Стоимость билета1</td>
                                <td>Стоимость билета2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {{ конец блока }}
            </div>
        </div>

{% block script %}
{% endblock %}