.film {
    margin-top: 20px;
    border: 1px solid gray;
}
.film .poster {
    padding: 0;
}
.film .title {
    margin-top: 5px;
    margin-bottom: 10px;
}
.film .genre {
    margin-top: 3px;
    margin-bottom: 3px;
}
.film .room .name {
    font-size: 26px;
    margin-top: 5px;
    margin-bottom: 2px;
}
.film .room table {
    width: auto;
}
.film .room table td {
    padding: 2px 15px;
    width: 70px;
}
.film .room table .time {
    font-size: 24px;
    font-weight: 400;
    color: #0097a7;
}
.film .room table .price {
    font-size: 16px;
    font-weight: 400;
    color: dimgrey;
}

@media only screen and (max-width: 600px) {
    .film .room table td {
        padding: 2px 5px;
        width: 50px;
    }
    .film .genre {
        font-size: 11px;
    }
    .film .room .name {
        font-size: 14px;
    }
    .film .title {
        font-size: 20px;
    }
    .film .room table .time {
        font-size: 14px;
    }
    .film .room table .price {
        font-size: 10px;
    }
}